@font-face {font-family: 'ProximaNovaExtraBold';src: url('../fonts/288043_C_0.eot');src: url('../fonts/288043_C_0.eot?#iefix') format('embedded-opentype'),url('../fonts/288043_C_0.woff') format('woff'),url('../fonts/288043_C_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaSemiBold';src: url('../fonts/288043_E_0.eot');src: url('../fonts/288043_E_0.eot?#iefix') format('embedded-opentype'),url('../fonts/288043_E_0.woff') format('woff'),url('../fonts/288043_E_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaRegular';src: url('../fonts/288043_F_0.eot');src: url('../fonts/288043_F_0.eot?#iefix') format('embedded-opentype'),url('../fonts/288043_F_0.woff') format('woff'),url('../fonts/288043_F_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaBold';src: url('../fonts/288043_10_0.eot');src: url('../fonts/288043_10_0.eot?#iefix') format('embedded-opentype'),url('../fonts/288043_10_0.woff') format('woff'),url('../fonts/288043_10_0.ttf') format('truetype');}
 
 
@font-face {font-family: 'PTSerif'; src: url('../fonts/PTF55F_W.eot'); src: local('PT Serif'), url('../fonts/PTF55F_W.woff') format('woff'),url('../fonts/PTF55F_W.ttf') format('truetype'), url('../fonts/PTF55F_W.svg#PTSerif-Regular') format('svg');}


@font-face {font-family: 'PTSerifBold'; src: url('../fonts/PTF75F_W.eot'); src: local('PT Serif Bold'), url('../fonts/PTF75F_W.woff') format('woff'),url('../fonts/PTF75F_W.ttf') format('truetype'), url('../fonts/PTF75F_W.svg#PTSerif-Bold') format('svg');}


@font-face {font-family: 'PTSansBold'; src: url('../fonts/PTS75F_W.eot'); src: local('PT Sans Bold'), url('../fonts/PTS75F_W.woff') format('woff'),url('../fonts/PTS75F_W.ttf') format('truetype'), url('../fonts/PTS75F_W.svg#PTSans-Bold') format('svg');}


@font-face {font-family: 'Caslon540BT';src: url('../fonts/288043_1_0.eot');src: url('../fonts/288043_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/288043_1_0.woff') format('woff'),url('../fonts/288043_1_0.ttf') format('truetype');}
