/* Base */
a {
    font-family: 'ProximaNovaSemiBold', Sans-serif;
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: 'ProximaNovaSemiBold';
    color: #000;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: #cf4295;
}

h1 {
    font-size: 32px;
    line-height: 38px;
}

h2 {
    font-size: 24px;
    line-height: 28px;
}

h2.lead {
    line-height: 30px;
}

h3 {
    font-size: 18px;
    line-height: 22px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

.last {
    border-right: none !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}

.nobg {
    background: none !important;
}

.hide {
    display: none;
}

.nomargintop {
    margin-top: 0 !important;
}

strong,b {
    font-weight: bold;
    color: #362f2d;
}

em,i {
    font-style: italic;
}

input[type="checkbox"] {
    vertical-align: top;
}

input[type="radio"] {
    display: none;
}

    input[type="radio"] + label {
        position: relative;
        padding-left: 20px;
        cursor: pointer;
    }

    input[type="radio"] + label:before {
        position: absolute;
        left: 0;
        top: -2px;
        display: block;
        width: 15px;
        height: 15px;
        content: ' ';
        background: url(../img/radio.png);
        cursor: pointer;
    }

    input[type="radio"]:checked + label {
        color: #cf4295;
    }

    input[type="radio"]:checked + label:before {
        background-position: 0 -15px;
    }

p {
    margin-bottom: 10px;
}

.inline {
    display: inline-block;
    vertical-align: top;
}

.relative {
    position: relative;
}

.center {
    text-align: center;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.button {
    background: #cf4295;
    padding: 8px 10px 5px 10px;
    border-bottom: 1px solid #000;
    color: #fff !important;
    display: inline-block;
}

.button:hover {
    background: #f06bb8;
}

.meter {
    height: 5px;
    overflow: hidden;
}

    .meter span {
        display: block;
        height: 100%;
        background: #888888;
    }

    .meter.selected span {
        background: #cf4295;
    }

.special {
    color: #cf4295 !important;
}

a.special:hover {
    color: #000 !important;
}

.marginb {
    margin-bottom: 10px;
}

/* Arrows */
.arrow {
    background: #000;
    height: 3px;
    position: relative;
}

    .arrow:before,
    .arrow:after {
        position: absolute;
        width: 1px;
        height: 3px;
        top: 0;
        content: ' ';
        background: url(../img/arrows.png);
    }
    
    .arrow:before {
        left: 0;
    }
    
    .arrow:after {
        right: 0;
    }
    
        .arrow-white:before,
        .arrow-white:after {
            background-position: 0 0;
        }
        
        .arrow-beige:before,
        .arrow-beige:after {
            background-position: -3px 0;
        }
    
/* Boxes */
.box {
    margin-bottom: 25px;
}

    .box .ilu {
        margin-bottom: 5px;
        display: block;
    }
    
    .box h3 {
        margin-bottom: 5px;
    }

.box-side-center {
    text-align: center;
}

.box-side {
    margin-bottom: 30px;
}

.box-center {
    width: 300px;
    padding: 0 15px;
    text-align: center;
}

.box-also {
    vertical-align: top;
    display: inline-block;
    width: 220px;
    padding: 0 10px;
    margin-bottom: 0;
}

.box-also-vote {
    text-align: left !important;
    margin-bottom: 10px;
}

    .box-also-vote .date {
        color: #666;
        font-size: 11px;
        font-family: 'PTSansBold';
    }

.box-vote-compact {
    margin-bottom: 10px;
}

.box-banner {
    border: 1px solid #a09fa4;
    margin-bottom: 40px;
}

    .box-banner .ilu {
        display: block;
    }
    
.box-big {
    
}

    .box-big .ilu-wrap {
        margin-bottom: 10px;
    }
    
    .box-big .ilu {
        display: block;
    }
    
    .box-big .ilu-under {
        color: #fff;
        background: #191919;
        text-align: center;
        padding: 10px 10px 15px 10px;
    }
    
        .box-big .ilu {
            margin-bottom: 0;
        }
    
        .box-big .ilu-small-title {
            font-family: 'PTSansBold';
            font-size: 11px;
            margin-bottom: 5px;
        }
        
        .box-big .ilu-big-title {
            font-family: 'ProximaNovaSemiBold';
            font-size: 22px;
            margin-bottom: 5px;
            color: #fff;
        }
        
             .box-big .ilu-big-title a,
             .box-news-top .ilu-big-title a {
                 color: #fff;
             }
             
             .box-big .ilu-big-title a:hover,
             .box-news-top .ilu-big-title a:hover {
                 color: #ac397c;
             }
        
        .box-big .ilu-undertitle {
            font-family: 'PTSerifBold';
            font-size: 11px;
            text-transform: uppercase;
        }

.box-news-top {
    
}

    .box-news-top .ilu-wrap .ilu {
        display: block;
        margin-bottom: 0;
    }
    
    .box-news-top .ilu-under {
        background: #191919;
        padding: 10px 10px 15px 10px;
        color: #fff;
    }
    
        .box-news-top .ilu-small-title {
            font-size: 11px;
            font-family: 'PTSansBold';
            margin-bottom: 5px;
        }
    
        .box-news-top .ilu-big-title {
            color: #fff;
        }

.box-news {
    margin-top: -5px;
}

    .box-news .news-line {
        margin-bottom: 15px;
    }
    
        .box-news .news-line .date {
            font-size: 11px;
            font-family: 'PTSansBold';
        }
        
        .box-news .news-line .lead,
        .box-news .news-line .lead .link {
            color: #000;
        }
        
        .box-news .news-line .lead .link:hover {
            color: #cf4295;
        }
        
.box-banner .ilu {
    margin-bottom: 0;
}

.box-sep .arrow {
    margin-bottom: 10px;
}

    .box .text {
        font-family: 'PTSerif';
        font-size: 14px;
        line-height: 20px;
    }
    
    .title {
        padding-bottom: 15px;
        position: relative;
        vertical-align: top;
        margin-top: -9px;
    }
        
        .title .arrow {
            margin-top: -11px;
        }
    
        .title .header {
            padding-right: 10px;
            background: #fff;
            z-index: 10;
            position: relative;
            display: inline-block;
            color: #a86e3e;
        }
    
            .title .header:after,
            .title .header:before,
            .header-also:after,
            .header-also:before {
                top: 5px;
                position: absolute;
                content: ' ';
                height: 3px;
                width: 1px;
                background: url(../img/arrows.png) -1px 0 no-repeat;
            }
            
            .header-also:after,
            .header-also:before {
                top: 9px;
            }
    
            .title .header:after {
                right: 0;
            }
            
            .title .header:before {
                left: 0;
            }

    .title-left {
        text-align: left;
    }
        
        .title-left .header:before {
            display: none;
        }
    
    .title-center {
        text-align: center;
    }
        
        .title-center .header {
            padding-left: 10px;
        }
        
    .title-center-small {
        width: 220px;
        margin: 0 40px;
    }
        
    .title-center-big,
    .title-left-big {
        padding-top: 1px;
        margin-bottom: 10px;
    }
    
        .title-center-big .arrow,
        .title-left-big .arrow  {
            margin-top: -15px;
        }
    
        .title-center-big .header,
        .title-left-big .header {
            color: #000;
            
        }
    
        .title-center-big .header:before,
        .title-center-big .header:after,
        .title-left-big .header:before,
        .title-left-big .header:after {
            top: 13px;
        }
      
    .title-top {
        position: relative;
        color: #a86e3e;
        padding-top: 10px;
        border-top: 1px solid #e5e5e5;
        margin-bottom: 5px;
    }
    
        .title-top .header {
        }
        
    .title-also {
        
    }
    
        .title-also .header:after, 
        .title-also .header:before {
            top: 8px;
            background: url(../img/arrows.png) -5px 0 no-repeat;
        }
        
        .title-also .arrow {
            background: #a0a0a0;
        }
        
        .title-also .arrow:before,
        .title-also .arrow:after {
            background-position: -4px 0;
        }
        
        .title-also .header {
            margin-bottom: -15px;
            padding: 0 10px;
        }

    .row-vote .title {
        width: 820px;
        color: #fff;
        margin: 0 auto;
        margin-bottom: 15px;
    }

        .row-vote .title .header {
            background: #191919;
        }

        .row-vote .title .header,
        .row-vote .title .header a {
            color: #fff;
        }

        .row-vote .title .arrow {
            background: #fff;
        }

        .row-vote .header:after,
        .row-vote .header:before {
            background-position: -2px 0;
        }

        .row-vote .arrow:after,
        .row-vote .arrow:before {
            background-position: -1px 0;
        }

    .row-vote2 .title {
        width: 620px;
    }

    .title-blog {
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 0;
        margin-bottom: 20px;
        clear: both;
        overflow: hidden;
        position: relative;
    }

        .title-blog .ilu-icon,
        .title-blog h3 {
            display: inline-block;
            vertical-align: top;
        }

        .title-blog .ilu-icon {
            margin-left: 5px;
            margin-right: 10px;
        }

            .title-blog .ilu-icon img {
                display: block;
            }

        .title-blog h3 {
            max-width: 500px;
            vertical-align: bottom;
        }

        .title-blog .right {
            position: absolute;
            bottom: 0;
            right: 0;
        }

    .title-blog-article {
        margin-bottom: 5px;
        padding-bottom: 0;
    }
     
.box .ilu-left {
    float: left;
    margin: 0 20px 5px 0; 
    position: relative;
}

    .box .ilu-left img {
        display: block;
    }

.box-blog {

}

    .box-blog .date {
        font-family: 'PTSansBold';
        font-size: 11px;
    }

    .box-blog .title-blog-list {
        padding: 0;
        margin-bottom: 10px;
    }
    
    /*
        only for blogs list
        because more link gets "unpredictable" margin
    */
    .box-blog p {
        margin-bottom: 0 !important;
        margin-top: 20px;
    }

    .box-blog p:first-child {
        margin-top: 0;
    }

    .box-blog .more {
        margin-top: 10px;
    }

.box-sideblog {

}

    .box-sideblog-title {
        border-bottom: 1px solid #e5e5e5;
    }

        .box-sideblog-title .ilu-blog {
            vertical-align: top;
            display: inline-block;
            margin-right: 10px;
            width: 95px;
            height: 95px;
        }

        .box-sideblog-title .blog-title {
            vertical-align: bottom;
            display: inline-block;
            width: 190px;
            margin: 0;
            padding: 0 0 2px 0;
            line-height: 18px;
        }

        .box-sideblog-title .blog-title,
        .box-sideblog-title .blog-title a {
            font-family: 'ProximaNovaBold';
        }

    .box-sideblog-cnt {

    }

        .box-sideblog-cnt .date {
            font-family: 'PTSansBold';
            font-size: 11px;
            color: #cf4295;
        }

        .box-sideblog-cnt .blog-title {
            margin-bottom: 5px;
        }
    
/* Slider */
.slider {
    
}

    .slider-slides {
        overflow: hidden;
        position: relative;
    }
    
        .slider-inf {
            width: 30000px;
            position: relative;
        }
    
        .slider-slides .slide {
            display: inline-block;
            vertical-align: top;
            width: 300px;
            position: relative;
        }
        
    .slider-pages {
        text-align: center;
        margin-top: 10px;
    }
    
        .slider-pages .page {
            display: inline-block;
            margin: 0 4px;
            vertical-align: top;
        }
        
            .slider-pages .page-link {
                display: block;
                width: 7px;
                height: 7px;
                background: url(../img/dots.png);
            }
            
            .slider-pages .page-now {
                background-position: -7px 0;
            }

    .ilu-slider,
    .ilu-slider img {
        display: block;
    }

    .slider-play {
        display: block;
        width: 101px;
        height: 101px;
        position: absolute;
        background: url(../img/play.png);
        z-index: 1000;
        top: 50%;
        left: 50%;
        margin: -50px 0 0 -50px;
    }

    .slider-text {
        background: #000;
        color: #fff;
        width: 100%;
        padding: 3px 10px;
        z-index: 999;
        font-family: 'ProximaNovaSemiBold';
        font-size: 14px;
        min-height: 40px;
    }

.slider-with-arrows {
}

    .slider-with-arrows .container {
        position: relative;
    }

    .slider-with-arrows .slider-arrow {
        position: absolute;
        display: none;
        top: 50%;
        margin-top: -42px;
        width: 25px;
        height: 57px;
        z-index: 1000;
        background: url(../img/bg-arrows-slider.png);
    }

        .slider-with-arrows .slider-arrow-link {
            display: block;
            width: 13px;
            height: 25px;
            margin: 16px 6px;
            background: url(../img/arrows-slider.png);
        }

        .slider-with-arrows .slider-arrow-right .slider-arrow-link {
            background-position: -13px 0;
        }

    .slider-with-arrows .slider-arrow-left {
        left: -4px;
    }

    .slider-with-arrows .slider-arrow-right {
        right: -4px;
        background-position: -25px 0;
    }

.slider-with-arrows2 {

}

    .slider-with-arrows2 .slider-arrow {
        margin-top: -62px;
    }
            
/* Popup window */
.simplemodal-overlay {
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
}

.popup {
    padding: 20px;
    background: #fff;
    font-family: 'ProximaNovaRegular';
    display: none;
}

    .popup .title {
        padding-top: 10px;
    }

    .popup-form {
        
    }
        .popup-form .line {
            position: relative;
            margin-top: 20px;
            position: relative;
            width: 280px;
        }
        
        .popup-form .line:first-child {
            margin-top: 0;
        }
        
            .popup-form .label {
                display: block;
                font-family: 'ProximaNovaBold';
                margin-bottom: 5px;
            }
            
                .popup-form .label .star {
                    color: #9a0a0a;
                }
                
            .popup-form .input-wrap {
            }
            
                .popup-form .input {
                    padding: 3px 9px;
                    width: 260px;
                    height: 24px;
                    line-height: 24px;
                    border: 1px solid #000;
                    font-size: 13px;
                    color: #4c4c4c;
                }
            
            .popup-form .under {
                margin-top: 5px;
                color: #666;
                font-size: 11px;
                font-family: 'PTSansBold';
            }
            
            .popup-form .error {
                background: #9a0a0a;
                position: relative;
                color: #fff;
                padding: 10px 10px 6px 10px;
                display: block;
                position: absolute;
                left: 290px;
                top: 21px;
                white-space: nowrap;
                display: none;
            }
            
                .popup-form .error:before {
                    padding: 3px 5px;
                    height: 24px;
                    position: absolute;
                    content: ' ';
                    display: block;
                    width: 3px;
                    height: 5px;
                    left: -3px;
                    top: 50%;
                    background: url(../img/arrow-validation-popup.png) no-repeat;
                    margin-top: -3px;
                }
                
            .popup-form .upload-avatar {
                color: #cf4295;
            }
            
        .popup-form .line-double {
            
        }
            .popup-form .line-double .captcha {
                margin-right: 15px;    
            }
            
            .popup-form .line-double .captcha {
                width: 90px;
                height: 30px;
                white-space: nowrap;
            }

                .popup-form .line-double .captcha img {
                    display: block;
                }
            
            .popup-form .line-double .input {
                width: 150px;
            }
            
            .popup-form .line-double .captcha,
            .popup-form .line-double .input-wrap {
                display: inline-block;
                vertical-align: top;
            }

    .popup-registration {
        width: 280px;
    }
    
        .popup-registration .submit {
            margin-right: 10px;
        }
    
    .popup .link {
        color: #000;
    }

/* Main layout */
body {
    background: #000;
    position: relative;
}

.all {
    font: normal 14px/16px 'PTSerif';
    width: 1060px;
    margin: 0 auto;
}
    
    .all-head-banner {
        text-align: center;
        margin: 10px 0 20px 0;
    }
    
    .all-head {
        height: 95px;
        position: relative;
    }
    
        .all-head a:hover {
            color: #cf4295;
        }
        
        .all-head .logo {
            background: url(../img/logo-top.png) no-repeat;
            height: 47px;
            width: 331px;
            position: absolute;
            top: 15px;
            left: 0;
        }
    
        .all-head .logo-festival {
            position: absolute;
            top: 15px;
            left: 400px;
            display: block;
            width: 198px;
            height: 46px;
            background: url(../upload/logo-festival.png);
        }
    
        .all-head .logo-menspecial {
            position: absolute;
            top: 15px;
            left: 625px;
            display: block;
            width: 163px;
            height: 46px;
            background: url(../upload/logo-menspecial.png);
        }
        
        .all-head .user {
            position: absolute;
            top: 0;
            right: 0;
            width: 220px;
        }
        
            .all-head .user .menu {
                height: 15px;
                margin-bottom: 15px;
            }
            
                .all-head .user .menu .item {
                    display: inline-block;
                    margin-right: 10px; 
                }                
                    .all-head .user .menu .link {
                        font-family: 'ProximaNovaBold';
                        font-size: 13px;
                    }
                
                .all-head .user .menu .item-login {
                    margin-top: 3px;
                }
                
                    .all-head .user .menu .item-login .login-avatar {
                        width: 20px;
                        height: 20px;
                        background: #a86e3e;
                        display: inline-block;
                        vertical-align: top;
                        margin-right: 5px;
                        margin-top: -5px;
                    }
                    
                    .all-head .user .menu .item-login .login-title {
                        vertical-align: top;
                        display: inline-block;
                        margin-right: 5px;
                    }
                    
                    .all-head .user .menu .item-login .login-exit {
                        background: url(../img/icon-exit.png) no-repeat;
                        width: 10px;
                        height: 9px;
                        display: inline-block;
                        vertical-align: top;
                        margin-top: 1px;
                    }
                
                .all-head .user .menu .item2 {
                    float: right;
                    margin-right: 0;
                }
            
            .all-head .user .search {
                
            }
             
                .all-head .user .search .field {
                    width: 193px;
                    border: 1px solid #3f3f3f;
                    color: #e5e5e5;
                    height: 15px;
                    padding: 2px 0 2px 25px;
                    background: #000 url(../img/icon-search.png) 3px 3px no-repeat;
                }
        
    .all-menu {
        border: 1px solid #3f3f3f;
        border-bottom: none;
        height: 37px;
        background: url(../img/bg-menu.png);
    }
    
        .all-menu .link {
            font-size: 15px;
            font-family: 'ProximaNovaExtraBold';
        }
        
        .all-menu .link2 {
            font-size: 13px;
            font-family: 'ProximaNovaSemiBold';
        }
    
        .all-menu .item {
            display: inline-block;
            background: url(../img/sep-menu.png) top right no-repeat;
            position: relative;
        }
        
            .all-menu .item .link {
                display: block;
                padding: 10px 20px 11px 20px;
            }
            
            .all-menu .item .link:hover {
                background: url(../img/bg-menu.png) 0 -37px;
            }
        
        .all-menu .level2 {
            display: none;
            position: absolute;
            top: 37px;
            left: 0;
            background: #1a1a1a;
            padding: 10px 20px 10px 0;
            z-index: 1000;
        }
        
            .all-menu .level2 .item2 {
                padding: 4px 20px;
                white-space: nowrap;
            }
            
                .all-menu .level2 .item2 .link2:hover {
                    color: #cf4295;
                }
        
    .all-content {
        color: #4c4c4c;
        line-height: 20px;
    }
    
        .all-content .pager {
            margin-top: 0;
            clear: both;
            text-align: center;
            position: relative;
        }
        
            .all-content .pager .arrow {
                background: #000;
                height: 3px;
                margin-bottom: 10px;
                position: relative;
            }
            
                .all-content .pager .separator:after {
                    position: absolute;
                }
        
            .all-content .pager .page {
                display: inline-block;
                padding-right: 15px;
            }
            
                .all-content .pager .page-link {
                    color: #cf4295;
                }

                .all-content .pager .page-link:hover,
                .all-content .pager .page-current {
                    color: #000;
                }
                
            .all-content .pager .page-next {
                position: absolute;
                top: 10px;
                right: 0;
                padding-right: 0;
            }
                
            .all-content .pager .page-prev {
                position: absolute;
                top: 10px;
                left: 0;
                padding-right: 0;
            }
    
    .all-foot {
        color: #fff;
        padding: 40px 0 40px 0;
    }
    
        .all-foot a:hover {
            color: #cf4295;
        }
        
        .all-foot .logo {
            background: url(../img/logo-foot.png) no-repeat;
            height: 32px;
            width: 219px;
            margin-bottom: 40px;
            display: block;
        }
        
        .all-foot .menu {
            margin-bottom: 30px;
            position: relative;
        }
        
            .all-foot .menu .menu-item {
                display: inline-block;
                vertical-align: top;
                padding-right: 35px;
            }
            
                .all-foot .menu-item .item {
                    margin-bottom: 10px;
                }
                
                    .all-foot .menu .menu-item .item .menu-link {
                        font-family: 'ProximaNovaSemibold';
                        font-size: 13px;
                    }
            
            .all-foot .menu .category {
                margin-bottom: 10px;
            }
            
                .all-foot .menu .category-link {
                    font-family: 'ProximaNovaExtraBold';
                    font-size: 15px;
                }
                
            .all-foot .menu .social {
                position: absolute;
                top: 0;
                right: 0;
                text-align: right;
                padding-right: 0;
            }
            
                .all-foot .menu .social .item {
                    display: inline-block;
                    margin-left: 20px;
                }
                
                    .all-foot .menu .social .item-link {
                        width: 28px;
                        height: 28px;
                        display: block;
                        background: url(../img/social-foot.png);
                    }
                    
                    .all-foot .menu .social .fb {}
                    .all-foot .menu .social .fb:hover { background-position: 0 -28px; }
                    
                    .all-foot .menu .social .vk { background-position: -48px 0; }
                    .all-foot .menu .social .vk:hover { background-position: -48px -28px; }
                    
                    .all-foot .menu .social .tw { background-position: -96px 0; }
                    .all-foot .menu .social .tw:hover { background-position: -96px -28px; }
        
        .all-foot .menu2 {
            margin-bottom: 25px;
        }
        
            .all-foot .menu2 .item {
                display: inline-block;
                margin-right: 20px;
            }
            
                .all-foot .menu2 .link {
                    font-family: 'ProximaNovaBold';
                    font-size: 15px;
                }
        
        .all-foot .donotsteal {
            font-family: 'PTSerif';
            font-size: 13px;
            margin-bottom: 20px;
            padding-right: 200px;
            position: relative;
        }
            
            .all-foot .donotsteal .counter {
                position: absolute;
                top: 0;
                right: 0;
            }
            
            .all-foot .donotsteal a {
                font-family: 'PTSerif';
            }
        
        .all-foot .copy {
            font-family: 'ProximaNovaRegular';
            font-size: 13px;
            position: relative;
            padding: 10px 0 0 95px;
        }

            .all-foot .copy:before {
                content: ' ';
                background: url(../img/logo-fcm.png) no-repeat top left;
                width: 80px;
                height: 32px;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }

/* Main content */
.main-top-content,
.main-content {
    background: #fff;
}

.main-top-content {
    margin-bottom: 20px;
    padding: 20px;
}

    .main-top-content .content-rows {
        display: inline-block;
        vertical-align: top;
    }
    
    .main-top-content .content-row1 {
        width: 700px;
        margin-right: 20px;
    }
    
        .main-top-content .content-row1 .banner {
            display: block;
        }
        
            .main-top-content .content-row1 .banner-ilu {
                display: block;
            }
    
    .main-top-content .content-row2 {
        width: 300px;
    }
    
            
    .main-top-content .carousel {
        position: relative;
    }
    
        .main-top-content .carousel-ilu {
            display: block;
        }
        
            .main-top-content .carousel-ilu .ilu-wrap {
                height: 430px;
            }
        
        .main-top-content .carousel-under {
            min-height: 60px;
            padding: 15px 0;
            text-align: center;
            overflow: hidden;
        }
        
            .main-top-content .carousel .carousel-title {
            }
            
            .main-top-content .carousel .carousel-cite {
                font-size: 28px;
                line-height: 28px;
                font-family: 'Caslon540BT';
                color: #7f7f7f;
            }
    
        .main-top-content .carousel-navigator {
            position: absolute;
            top: 5px;
            right: 5px;
        }
        
            .main-top-content .carousel-item {
                margin-bottom: 5px;
            }
        
            .main-top-content .carousel-now {
                border: 5px solid #cf4295;
                display: block;
                margin: -5px;
            }
            
            .main-top-content .carousel-preview {
                display: block;
            }

.main-content {
    overflow: hidden;
}

    .main-content .content-rows {
        display: inline-block;
        vertical-align: top;
        padding: 20px;
        padding-bottom: 0;
    }
    
    .main-content .content-row1 {
        width: 220px;
    }
    
        .main-content .content-row1 .ilu-wrap {
            position: relative;
            margin-bottom: 8px;
        }
        
            .main-content .content-row1 .ilu-wrap .ilu {
                display: block;
            }
            
            .main-content .content-row1 .ilu:hover {
                opacity: 0.7;
                filter: alpha(opacity=70);
            }
        
            .ilu-label {
                background: #cf4295;
                padding: 8px 5px 7px 5px;
                font-family: 'ProximaNovaBold';
                color: #fff;
                white-space: nowrap;
                font-size: 15px;
                line-height: 18px;
                display: block;
                position: absolute;
                bottom: 10px;
                left: 0;
            }
            
                .ilu-label:before,
                .ilu-label:after {
                    position: absolute;
                    display: block;
                    content: ' ';
                    background: url(../img/label.png);
                }
            
                .ilu-label:before {
                    overflow: hidden;
                    width: 5px;
                    height: 37px;
                    top: 0;
                    left: -5px;
                }
                
                .ilu-label:after {
                    overflow: hidden;
                    width: 8px;
                    height: 33px;
                    top: 0;
                    right: -8px;
                    background-position: -86px 0;
                }
    
    .main-content .content-row2 {
        width: 420px;
        background: #f0f0f0;
        padding-bottom: 32000px;
        margin-bottom: -32000px;
    }
    
        .main-content .content-row2 .header {
            background: #f0f0f0;
        }
    
    .main-content .content-row3 {
       width: 300px; 
    }
    
/* Inside content */
.inside-content {
    font-family: 'PTSerif';
    font-size: 16px;
    background: #fff;
    width: 100%;
    display: table;
    color: #4c4c4c;
}
    
    .inside-content .content {
        width: 680px;
        display: table-cell;
        padding: 25px 20px 20px 20px;
    }
        
    .inside-content .row-content .content {
        padding-bottom: 0;
    }
    
        .inside-content .content-columns {
            display: table;
        }
        
            .inside-content .content-columns .column {
                width: 330px;
                display: table-cell;
                vertical-align: top;
            }
            
            .inside-content .content-columns .column1 {
                padding-right: 20px;
            }
    
    .inside-content .sidebar {
        width: 340px;
        display: table-cell;
        vertical-align: top;
        padding-bottom: 40px;
    }
    
        .all-content .sidebar-wrap {
            background: #f0f0f0;
            width: 300px;
            padding: 25px 20px 20px 20px;
        }
        
        .inside-content .sidebar .title .header {
            background: #f0f0f0;
        }

    .inside-content .content {
        line-height: 23px;
    }

    .inside-content .content p {
        margin-bottom: 25px;
    }
    
    .inside-content .content a {
        color: #000;
    }
    
    .inside-content .content a:hover {
        color: #cf4295;
    }

    .inside-content .content .ilu-title-top {
        position: relative;
        margin-bottom: 15px;
    }
    
        .inside-content .content .ilu-title-top .ilu {
            display: block;
        }
        
    .inside-content .content .lead {
        font-family: 'Caslon540BT';
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 30px;
        color: #7f7f7f;
        margin-top: 10px;
    }

    .inside-content .content .ilu {
        margin-bottom: 20px;
    }
    
        .inside-content .content .ilu-wrap {
            position: relative;
            display: inline-block;
            margin-bottom: 5px;
            clear: both;
        }
            
            .inside-content .content .ilu-mask {
                background: #000;
                position: absolute;
                width: 100%;
                height: 45px;
                opacity: 0.5;
                filter: alpha(opacity=50);
                bottom: 0;
                left: 0;
                z-index: 1;
                display: none;
            }
            
            .inside-content .content .ilu-cnt {
                width: 100%;
                position: absolute;
                bottom: 5px;
                text-align: center;
                left: 0;
                z-index: 10;
            }
        
            .inside-content .content .ilu-img {
                display: block;
            }
        
        .inside-content .content .ilu-title {
            text-transform: uppercase;
        }
        
            .inside-content .content .ilu-title,
            .inside-content .content .ilu-title a {
                font-size: 11px;
                font-family: 'PTSerifBold';
            }

    .inside-content .row-vote {
        background: #191919;
        color: #fff;
        padding: 20px;
    }
        
    .inside-content .row-comments,
    .inside-content .row-social,
    .inside-content .row-also {
        padding: 20px;
    }
    
    .inside-content .row-social {
        background: #f0f0f0;
        margin-bottom: 20px;
    }
    
        .inside-content .row-social .line-first {
            border-bottom: 3px solid #d8d8d8;
            padding-bottom: 20px;
        }
        
            .inside-content .row-social .line-first .date-source {
                display: inline-block;
                font-family: 'PTSansBold';
                font-size: 11px;
                line-height: 18px;
                margin-right: 30px;
                vertical-align: top;
                color: #666;
            }
            
            .inside-content .row-social .line-first .likes {
                vertical-align: top;
                display: inline-block;
            }
            
                .inside-content .row-social .line-first .likes .like-block {
                    display: inline-block;
                    margin-right: 10px;
                }
                
                .inside-content .row-social .line-first .likes .like-pinit {
                    margin-right: 20px;
                }
        
        .inside-content .row-social .line-second {
            padding-top: 20px;
            font-family: 'ProximaNovaBold';
            font-size: 14px;
            margin-bottom: -10px; 
            display: table;
        }
        
            .inside-content .row-social .line-second .tags-title,
            .inside-content .row-social .line-second .tags {
                display: table-cell;
                vertical-align: top;
            }
            
            .inside-content .row-social .line-second .tags-title {
                padding: 12px 10px 0 0;
            }
            
            .tags .block {
                display: inline-block;
                margin-right: 15px;
                margin-bottom: 10px;
                vertical-align: top;
            }
            
            .tag {
                color: #808080;
                border: 3px solid #adadad;
                display: block;
                padding: 10px 15px 5px 15px;
            }
            
            .tag:hover {
                color: #754d2b;
                border-color: #000;
            }
            
            .tag2 {
                color: #a86e3e;
                border-color: #a86e3e;
            }
    
    .inside-content .row-comments {
        margin-bottom: 20px;
    }
    
        .inside-content .row-comments .no-comments {
            text-transform: uppercase;
            font-size: 11px;
            font-family: 'PTSerifBold';
            color: #999;
            margin-bottom: 20px;
        }
        
        .inside-content .row-comments .title {
        }
        
        .comments {
        }
        
            .comments .comment {
                margin-bottom: 20px;
            }
            
            .comments .comment-level2 {
                padding-left: 65px;
            }
            
            .comments .comment a {
                font-family: 'PTSansBold';
            }
            
                .comments .comment .avatar {
                    display: inline-block;
                    width: 50px;
                    vertical-align: top;
                    margin-right: 10px;
                }

                .comments .comment .data {
                    display: inline-block;
                    vertical-align: top;
                    margin-top: -7px;
                    width: 955px;
                }
                
                .comments .comment-level2 .data {
                    width: 890px;
                }
                
                    .comments .comment .data .line {
                        line-height: 18px;
                    }
    
                        .comments .comment .data .line-date {
                            font-family: 'PTSansBold';
                            font-size: 11px;
                            color: #666;
                        }
        
                        .comments .comment .data .line-login .link {
                            color: #cf4295;
                            font-size: 11px;
                        }
                        
                        .comments .comment .data .line-login .link:hover {
                            color: #000;
                        }
                        
                        .comments .comment .data .line-answer {
                        }

                            .comments .comment .data .line-answer .link {
                                color: #000;
                                font-size: 11px;
                            }
                        
                        .comments .comment .data .line-text {
                            line-height: 20px;
                            margin-bottom: 5px;
                            font-size: 14px;
                        }
        
            .comments-strip {
                margin-bottom: 20px;
            }
                        
            .comments-input {
                
            }
            
                .comments-input .avatar {
                    width: 50px;
                    margin-right: 10px;
                    display: inline-block;
                    vertical-align: top;
                }
                
                .comments-input .input {
                    display: inline-block;
                    vertical-align: top;
                }
                
                    .comments-input .input .comment {
                        display: block;
                        width: 930px;
                        height: 100px;
                        border: 1px solid #000;
                        padding: 10px 14px 10px 10px;
                        margin-bottom: 10px;
                    }
                    
        .comments2 {
            width: 680px;
        }
        
            .comments2 .comments-input .input .comment {
                width: 590px;
            }
            
            .comments2 .comment .data {
                width: 615px;
            }
            
            .comments2 .comment-level2 .data {
                width: 550px;
            } 

    .inside-content .row-also {
        border: 3px solid #000;
        margin: 20px;
        margin-top: 0;
    }
    
        .inside-content .row-also .box {
            text-align: left;
        }
        
            .inside-content .row-also .box .ilu {
                display: block;
                margin-bottom: 10px;
            }
        
            .inside-content .row-also .box .ilu:hover {
                opacity: 0.7;
                filter: alpha(opacity=70);
            }
            
            .inside-content .row-also .ilu-wrap {
                position: relative;
            }
        
        .inside-content .header-also {
            position: relative;
            text-align: center;
            display: block;
            margin: 0 auto;
            margin-top: -36px;
            clear: both;
            margin-bottom: 15px;
        }
        
            .inside-content .header-also:before,
            .inside-content .header-also:after {
                top: 13px;
            }
        
            .inside-content .header-also h2 {
                background: #fff;
                display: inline-block;
                padding: 0 10px;
            }
            
            
    .inside-content .row-also2 {
        margin: 0 !important;
    }
    
        .inside-content .row-also2 .also-title {
            color: #a86e3e;
            clear: both;
            margin-bottom: 5px;
        }
        
        .inside-content .row-also2 .header-also {
            margin-bottom: 10px;
        }
        
        .inside-content .row-also2 .also-box {
            width: 300px;
            display: inline-block;
            margin-left: 30px;
            vertical-align: top;
        }
        
            .inside-content .row-also2 .text-title a {
                color: #000;
            }
            
            .inside-content .row-also2 .text-title a:hover {
                color: #a86e3e;
            }
        
            .inside-content .row-also2 .also-box .also-ilu {
                width: 100px;
                float: left;
                margin: 0 10px 0 0;
                position: relative;
            }
            
                .inside-content .row-also2 .also-box .also-ilu .ilu-label {
                    width: 90px;
                    font-size: 12px;
                }
                
                .inside-content .row-also2 .also-box .also-ilu .ilu-label:after {
                    display: none;
                }
            
                .inside-content .row-also2 .also-box .also-ilu  img {
                    display: block;
                }
        
        .inside-content .row-also2 .also-box:first-child {
            margin-left: 0;
        }
    
    .inside-content .row-comments2 {
        padding: 0;
        margin-bottom: 30px;
    }
    
    .inside-content .row-social2 {
        margin-left: -20px;
        margin-bottom: 30px;
    }
    
         .inside-content .row-social2 .line-first {
             padding-bottom: 10px !important;
         }
    
        .inside-content .row-social2 .date-source {
            margin-right: 150px !important;
        }

/*
    Votes
*/
.vote {
    margin-bottom: 20px;
    padding: 0 0 0 40px;
    text-align: left;
    overflow: hidden;
    position: relative;
}

.row-vote,
.row-vote2 {
    margin-bottom: 0;
}

    .vote-wrap {
        width: 640px;
        overflow: hidden;
    }

    .row-vote .vote-wrap {
        width: 940px;
    }
    
    .row-vote2 {
        margin-left: -20px;
        width: 700px;
    }

    .row-vote2 .vote-wrap {
        width: 640px;
    }

    .vote-arrow {
        width: 40px;
        position: absolute;
        display: block;
        top: 0;
        height: 100%;
        background: #fff;
        z-index: 20;
    }

    .vote-left {
        left: 0;
    }

    .vote-right {
        right: 0;
        background: url(../img/mask-vote.png) repeat-y;
    }

    .row-vote .vote-right,
    .row-vote .vote-left {
        background: none;
    }

        .vote-arrow-link {
            position: absolute;
            display: none;
            width: 20px;
            height: 36px;
            top: 153px;
            background-image: url(../img/arrows-vote.png);
        }

            .vote-link-left {
                left: 0;
            }

            .row-vote .vote-link-left {
                background-position: 0 -72px;
            }

            .vote-link-right {
                right: 0;
                background-position: -20px 0;
                z-index: 11;
            }

            .row-vote .vote-link-right {
                background-position: -20px -72px;
            }

                .vote-link-left:hover {
                    background-position: 0 -36px;
                }

                .vote-link-right:hover {
                    background-position: -20px -36px;
                }

    .vote-inf {
        position: relative;
        text-align: center;
        white-space: nowrap;
    }

        .vote-item {
            display: inline-block;
            vertical-align: top;
            width: 140px;
            line-height: 18px;
            font-family: 'ProximaNovaBold';
            text-align: center;
            cursor: pointer;
            position: relative;
            margin-right: 20px;
        }

            .vote-item .vote-ilu {
                display: block;
            }

            .vote-item .vote-title {
                padding: 10px 0;
                white-space: normal;
            }

        .vote-over {
            background: rgba(207, 66, 149, 0.85); /* browsers */
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cf4295', endColorstr='#cf4295');  /* ie */
            text-align: center;
            width: 100%;
            height: 20px;
            padding: 6px 0;
            color: #fff;
            top: 155px;
            position: absolute;
            display: none;
        }

            .vote-item:hover {

            }

                .vote-item:hover .vote-over {
                    display: block;
                }

                .vote-item:hover:before,
                .vote-item.vote-win:before {
                    content: ' ';
                    display: block;
                    border: 3px solid  #cf4295;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }

            .vote-item.voted {
                cursor: default;
            }

            .vote-item.voted .vote-over {
                display: block;
            }

            .vote-item.vote-win {

            }

                .vote-item.vote-win .vote-title {
                    background: #cf4295;
                    color: #fff;
                }

            .vote-item.vote-fail {

            }

                .vote-item.vote-fail .vote-over {
                    z-index: 10;
                }

                .vote-item.vote-fail .vote-ilu {
                    opacity: 0.5;
                }

                .vote-item.vote-fail:hover:before {
                    display: none;
                }

.vote-compact {
    padding-left: 0;
}

.inside-vote-only {
    
}

    .inside-vote-only .inside-header-vote {
        margin-bottom: 15px;
    }

.vote-topic-title {
    margin-bottom: 20px;
}

.vote-topic-title2 {
    margin-bottom: 5px;
}

.vote-results {
    max-width: 360px;
    padding-right: 20px;
    margin-bottom: 20px;
}

    .vote-results .line {
        margin-bottom: 20px;
    }

    .vote-results .counter {
        font-size: 11px;
        font-family: 'PTSansBold';
        color: #666;
    }

    .vote-results h6 {
        font-size: 12px;
        line-height: 14px;
        color: #000;
        margin-bottom: 0;
    }

.vote-vote {
    margin-bottom: 25px;
    max-width: 360px;
    padding-right: 20px;
}

    .vote-vote .line {
        margin-bottom: 5px;
    }

        .vote-vote label {
            font-family: 'ProximaNovaSemibold';
            font-size: 12px;
            color: #000;
        }

    .vote-vote .line-button {
        margin-top: 10px;
    }

.vote-columns {

}

    .vote-columns .column {
        display: inline-block;
        width: 300px;
        vertical-align: top;
    }

    .vote-columns .column1 {
        margin-right: 80px;
    }

